# Homework 2
<br>
Saransh Kacharia
October 22nd, 2020

__1.a.__ The first algorithm makes the fewest mistakes. It has 8 miscategorizations while the second algorithm has 12.

__1.b.__ The second algorithm is better for the zoo because it has the lowest miscategorization of birds. Even though it has a higher miscategorization of humans, the correct categorization of humans is not as important as the categorization of birds, because this system is being used to keep the birds from escaping, a bird escaping is unacceptable and a human being locked for 30 seconds in the enclosure is a minor inconvenience.

__1.c.__ 

<table style="border-collapse: collapse;">
    <tr style="border-bottom: 1px solid black; border-collapse: collapse;">
        <th style="border-collapse: collapse; text-align: right; padding: 0px 0px 0px 30px;"></th>
        <th style="border-collapse: collapse; text-align: right; padding: 0px 0px 0px 30px">True Bird</th>
        <th style="border-collapse: collapse; text-align: right; padding: 0px 0px 0px 30px">True Person</th>
    </tr>
    <tr style="border-collapse: collapse; background-color: #f5f5f5;">
        <th style="border-collapse: collapse; text-align: right;">NN Bird</th>
        <td style="border-collapse: collapse; text-align: right;">45</td>
        <td style="border-collapse: collapse; text-align: right;">5</td>
    </tr>
    <tr style="border-collapse: collapse;">
        <th style="border-collapse: collapse; text-align: right;">NN Person</th>
        <td style="border-collapse: collapse; text-align: right;">3</td>
        <td style="border-collapse: collapse; text-align: right;">47</td>
    </tr>
</table>